<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>376020486760-0vf0smrgh04n86jc25cvi41knjphhfk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376020486760-0vf0smrgh04n86jc25cvi41knjphhfk8</string>
	<key>API_KEY</key>
	<string>AIzaSyAbpRM8vzlGKXiZZk2D8Oj_aFH_9AcBJuY</string>
	<key>GCM_SENDER_ID</key>
	<string>376020486760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devtechie.MLKitDemo</string>
	<key>PROJECT_ID</key>
	<string>fbmlkit-6ac73</string>
	<key>STORAGE_BUCKET</key>
	<string>fbmlkit-6ac73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376020486760:ios:bc437ff0f4cb3354</string>
	<key>DATABASE_URL</key>
	<string>https://fbmlkit-6ac73.firebaseio.com</string>
</dict>
</plist>